html,
body {
    background-color: #fff1e1;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}
.header-nav-container {
    background-color: #1d3c45;
    color: #d2601a;
    font-family: "Kanit", sans-serif;
    width: 95%;
    height: auto;
    margin-top: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    padding: 0.5%;
    border-bottom: 2px solid black;
}
/* header {
    color: #d2601a;
    width: 96px;
    height: 5px;
    margin: 2px;
    flex-direction: column;
    box-sizing: border-box;
} */
ul {
    list-style-type: none;
    margin: 10px;
    padding: 5px;
    overflow: hidden;
}
li {
    float: left;
}
li a {
    display: block;
    color: #d2601a;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    color: #fff1e1;
}
.nav-startseite,
.nav-stundenplan,
.nav-profile,
.nav-galerie {
    color: #d2601a;
    font-size: 1rem;
    box-sizing: border-box;
}
.nav-meinname{
    color: #d2601a;
    font-size: 0.5rem;
    margin-top: 0.5rem;
    box-sizing: border-box;
    position: relative;
    top: 0.75rem;
}
h1 {
    box-sizing: border-box;
    display: flex;
    color: #1d3c45;
    font-size: 2rem;
    width: 96%;
    height: auto;
    margin: 2%;
    padding: 0.5%;
}
.main-aside-container {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    width: 95%;
    height: auto;
    margin-top: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    padding: 0.5%;
}
.main-container {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 50%;
    height: auto;
}
h1{
    display: flex;
    box-sizing: border-box;
    color: #1d3c45;
    font-family: "Kanit", sans-serif;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 0rem;
    margin-left: 2rem;
}
.section1-info {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin-top: 0rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}
h2{
    display: flex;
    box-sizing: border-box;
    color: #1d3c45;
    font-family: "Kanit", sans-serif;
    width: auto;
    height: auto;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 0rem;
    margin-left: 1rem;
}
.section2-Standort{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 1rem;
}
.aside-container {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    height: auto;
    margin: 2%;
    padding: 0.5%;
    position: relative;
    bottom: 3rem;
    left: 7rem;
}
h3{
    color: #1d3c45;
    font-family: "Kanit", sans-serif;
}
.aside-section1{
    display: flex;
    box-sizing: border-box;
}
.aside-section2{
    display: flex;
    box-sizing: border-box;
}
.aside-bild1,
.aside-bild2,
.aside-bild3,
.aside-bild4{
    color: #1d3c45;
    box-sizing: border-box;
    width: auto;
    height: 10rem;
    margin-top: 0.25rem;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
    margin-left: 0.25rem;
    position: relative;
}
footer {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    background-color: #1d3c45;
    color: #d2601a;
    font-family: "Kanit", sans-serif;
    width: 95%;
    height: 9rem;
    margin-top: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    padding: 0.5%;
    border-bottom: 2px solid black;
}
.dancetownlink {
    display: flex;
    box-sizing: border-box;
    color: #d2601a;
    font-size: 0.8rem;
    margin: 0.5rem;
}
.youtubelink{
    display: flex;
    box-sizing: border-box;
    color: #d2601a;
    font-size: 0.8rem;
    margin: 0.5rem;
}
.kontakt{
    display: flex;
    box-sizing: border-box;
    color: #d2601a;
    font-size: 0.8rem;
    margin: 0.5rem;
}
.erstelltvon {
    display: flex;
    box-sizing: border-box;
    color: #d2601a;
    font-size: 0.8rem;
    margin: 0.5rem;
}

@media all and (max-width: 1260px) {
    .aside-bild1,
    .aside-bild2,
    .aside-bild3,
    .aside-bild4{
    height: 9rem;
    }
}
@media all and (max-width: 1170px) {
    .aside-bild1,
    .aside-bild2,
    .aside-bild3,
    .aside-bild4{
        height: 8rem;
    }
}
@media all and (max-width: 1040px) {
    .aside-bild1,
    .aside-bild2,
    .aside-bild3,
    .aside-bild4{
        height: 7rem;
    }
}
@media all and (max-width: 960px) {
    .main-aside-container {
        flex-direction: column;
    }
    .aside-container {
        position: relative;
        bottom: 0rem;
        left: 0rem;
    }
    h3{
        font-size: 1rem;
    }
}
@media all and (max-width: 550px) {
    .header-nav-container {
        margin-top: 2%;
        margin-right: 2%;
        margin-bottom: 2%;
        margin-left: 2%;
        padding: 0.5%;
    }
    footer {
        margin-top: 2%;
        margin-right: 2%;
        margin-bottom: 2%;
        margin-left: 2%;
        padding: 0.5%;
    }
}
@media all and (max-width: 450px) {
    .header-nav-container {
        margin-left: 10px;
        margin-right: 15px;
        padding: 1px;
    }
    .nav-stundenplan {
        color: #d2601a;
        font-size: 0.8rem;
        box-sizing: border-box;
    }
    .nav-profile,
    .nav-galerie,
    .nav-überuns {
        color: #d2601a;
        font-size: 0.8rem;
        box-sizing: border-box;
    }
    footer {
        margin-left: 10px;
        margin-right: 15px;
        padding: 1px;
    }
}
@media all and (max-width: 400px) {
    .nav-startseite,
    .nav-stundenplan,
    .nav-galerie,
    .nav-überuns {
        color: #d2601a;
        font-size: 0.7rem;
        box-sizing: border-box;
    }
}