html,
body {
    background-color: #fff1e1;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
}
.header-nav-container {
    background-color: #1d3c45;
    color: #d2601a;
    font-family: "Kanit", sans-serif;
    width: 95%;
    height: auto;
    margin-top: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    padding: 0.5%;
    border-bottom: 2px solid black;
}
/* header {
    color: #d2601a;
    width: 96px;
    height: 5px;
    margin: 2px;
    flex-direction: column;
    box-sizing: border-box;
} */
ul {
    list-style-type: none;
    margin: 10px;
    padding: 5px;
    overflow: hidden;
}
li {
    float: left;
}
li a {
    display: block;
    color: #d2601a;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    color: #fff1e1;
}
.nav-startseite,
.nav-profile,
.nav-galerie,
.nav-überuns {
    color: #d2601a;
    font-size: 1rem;
    box-sizing: border-box;
}
.nav-meinname{
    color: #d2601a;
    font-size: 0.5rem;
    margin-top: 0.5rem;
    box-sizing: border-box;
    position: relative;
    top: 0.75rem;
}
.main-aside-container {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    background-color: #fff1e1;
    width: 95%;
    height: auto;
    margin-top: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    padding: 0.5%;
    text-align: center;
}
.aside-container {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    background-color: #1d3c45;
    font-family: "Kanit", sans-serif;
    width: 23%;
    height: auto;
    position: relative;
    border: 1px solid black;
}
.aside-paragraph1,
.aside-paragraph2,
.aside-paragraph3 {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    color: #d2601a;
    background-color: #fff1e1;
    width: 96%;
    height: 2.5rem;
    margin: 2%;
    border: 1px solid black;
    position: relative;
}
main {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 73%;
    height: auto;
    margin-left: 2rem;
    position: relative;
}
.main-section1 {
    color: #1d3c45;
    width: auto;
    height: 60px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    padding: 2px;
    font-size: 1rem;
}
.main-section2 {
    display: flex;
    box-sizing: border-box;
    color: #1d3c45;
    width: auto;
    height: auto;
    margin: 5px;
    padding: 2px;
    border: 1px solid black;
    font-size: 70px;
}
a{
    color: #d2601a;
}
h4{
    margin-top: 0rem;
    margin-right: auto;
    margin-bottom: 0.5rem;
    margin-left: auto;
}
table{
    width: 100%;
    font-size: 1rem;
}
tr, th, td{
    border: 1px solid #1d3c45;
}
footer {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    background-color: #1d3c45;
    color: #d2601a;
    font-family: "Kanit", sans-serif;
    width: 95%;
    height: 9rem;
    margin-top: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    padding: 0.5%;
    border-bottom: 2px solid black;
}
.dancetownlink {
    display: flex;
    box-sizing: border-box;
    color: #d2601a;
    font-size: 0.8rem;
    margin: 0.5rem;
}
.youtubelink{
    display: flex;
    box-sizing: border-box;
    color: #d2601a;
    font-size: 0.8rem;
    margin: 0.5rem;
}
.kontakt{
    display: flex;
    box-sizing: border-box;
    color: #d2601a;
    font-size: 0.8rem;
    margin: 0.5rem;
}
.erstelltvon {
    display: flex;
    box-sizing: border-box;
    color: #d2601a;
    font-size: 0.8rem;
    margin: 0.5rem;
}

@media all and (max-width: 900px) {
    .main-aside-container {
        flex-direction: column;
        width: 100%;
        height: 32rem;
        margin: 1%;
    }
    .aside-container {
        width: 95%;
        height: auto;
    }
    .aside-paragraph1,
    .aside-paragraph2,
    .aside-paragraph3 {
        width: 97.5%;
        height: 1.5rem;
        margin: 1%;
    }
    main {
        width: 95%;
        margin-left: 0;
        position: relative;
    }
    .main-section1 {
        width: auto;
        height: auto;
        margin: 2%;
        font-size: 1rem;
    }
    .main-section2 {
        width: auto;
        height: auto;
        margin-right: 2%;
        margin-left: 2%;
        font-size: 2rem;
    }
    footer{
        position: relative;
        top: 2rem;
    }
}
@media all and (max-width: 550px) {
    .header-nav-container {
        margin-top: 2%;
        margin-right: 2%;
        margin-bottom: 2%;
        margin-left: 2%;
        padding: 0.5%;
    }
    .main-aside-container {
        height: 45rem;
    }
    footer {
        margin-top: 2%;
        margin-right: 2%;
        margin-bottom: 2%;
        margin-left: 2%;
        padding: 0.5%;
        position: relative;
        top: 4rem;
    }
}
@media all and (max-width: 450px) {
    .header-nav-container {
        margin-left: 10px;
        margin-right: 15px;
        padding: 1px;
    }
    .nav-stundenplan {
        color: #d2601a;
        font-size: 0.8rem;
        box-sizing: border-box;
    }
    .nav-profile,
    .nav-galerie,
    .nav-überuns {
        color: #d2601a;
        font-size: 0.8rem;
        box-sizing: border-box;
    }
    .main-aside-container {
        height: 50rem;
    }
    .main-section1{
        font-size: smaller;
    }
    footer {
        margin-left: 10px;
        margin-right: 15px;
        padding: 1px;
    }
}
@media all and (max-width: 400px) {
    .nav-startseite,
    .nav-stundenplan,
    .nav-galerie,
    .nav-überuns {
        color: #d2601a;
        font-size: 0.7rem;
        box-sizing: border-box;
    }
    .main-aside-container {
        height: 60rem;
    }
}
@media all and (max-width: 370px) {
    table{
        font-size: x-small;
    }
    .main-aside-container {
        height: 40rem;
    }
}
@media all and (max-width: 264px) {
    footer{
        position: relative;
        top: 8rem;
    }
}